.challenge-decision {
	text-align: center;

	.decision {
		margin-top: 20px;

		button {
			background: none;
			border: 0;
			padding: 10px;
			cursor: pointer;
		}

		.yes {
			margin-right: 10%;
			color: $color-stats;
		}

		.no {
			margin-left: 10%;
			color: $color-loose;
		}

		i {
			@include inline-block();
			font-size: 5em;
		}
	}

}
