@import "compass/utilities";

@mixin grid-container() {
	@include pie-clearfix();
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: $grid-max;
}

@function grid-width($columns) {
	@return (100%/$grid-columns) * $columns;
}

@mixin grid-width($columns) {
	width: grid-width($columns);
}

@mixin grid($columns, $gutter: $grid-gutter) {
	@include box-sizing(border-box);
	@include grid-width($columns);
	display: block;
	float: left;
	margin: 0;
	padding: 0 $gutter;
}

@mixin grid-push($columns) {
	margin-left: (100%/$grid-columns) * $columns;
}

@mixin grid-alpha() {
	padding-left: 0;
}

@mixin grid-omega() {
	padding-right: 0;
}

@mixin grid-break($min, $max: 0) {

	@if($max > $min) {
		@media screen and (min-width: $min) and (max-width: $max) {
			@content;
		}
	} @else {
		@media screen and (min-width: $min) {
			@content;
		}
	}
}
