.stats {
	@include box-shadow(inset 3px 3px 270px $color-shadow);
	position: relative;
	margin: 0 0 $grid-gutter;
	padding: $grid-gutter $grid-gutter ($grid-gutter * 6);
	color: $color-stats-text;
	text-align: center;
	border-bottom: 1px solid rgba($color-primary, 0.5);
	background: url("../img/default/tweed.png");

	canvas {
		display: block;
		margin: 0 auto;
	}

	.legend {
		position: absolute;
		bottom: $grid-gutter * 2;
		right: $grid-gutter * 2;
		text-align: left;

		dt,
		dd {
			@include inline-block();
		}

		dt {
			float: left;
			margin-right: 10px;
		}

		dd {
			float: right;
			font-weight: 600;
		}

		span {
			@include inline-block();
			margin: 0 $grid-gutter 0 0;
			width: 10px;
			height: 10px;
		}
	}
}
