<div class="challenge-detail">
	<h2>{{ challenge.title }}</h2>
	<div class="challenge-info">
		<p>{{ challenge.description }}</p>

		{% if challenge.rival.payment.status == 'initiated' %}
			{% if attendee.type == 'owner'%}
				{% include "modules/challenge/detail/waiting-for-confirmation.html" %}
			{% else %}
				{% include "modules/challenge/detail/confirm.html" %}
			{% endif %}
		{% elif challenge.rival.status == 'pending' or challenge.owner.status == 'pending' %}
			{% include "modules/challenge/detail/waiting-for-decision.html" %}
		{% else %}
			{% include "modules/challenge/detail/finished.html" %}
		{% endif %}
	</div>
</div>
