<ul class="list">
	{% for item in list reversed %}
		<li class="{{ item.owner.status }}">
			<a href="{% url 'core:challenge_detail' uuid=item.owner.uuid %}" title="">
				<span class="badge">
					{% if item.owner.status == 'win' %}
						<i class="fa fa-thumbs-up fa-lg"></i>
					{% elif item.owner.status == 'loose' %}
						<i class="fa fa-thumbs-down fa-lg"></i>
					{% else %}
						<i class="fa fa-clock-o fa-lg"></i>
					{% endif %}
					{{ item.amount|floatformat:2 }} €
				</span>
				<strong>
					<i class="fa fa-reply"></i>
					{{ item.title }}
				</strong>
				<em>{{ item.description }}</em>
			</a>
		</li>
	{% endfor %}
</ul>
