{% if request.user.is_authenticated %}
	<nav class="navigation" role="navigation">
		<ul>
			<li>
				<a href="{% url 'core:challenge_create' %}" title="create a new challenge">
					<i class="fa fa-plus fa-lg"></i>
					<span>New challenge</span>
				</a>
			</li>
			<li>
				<a href="{% url 'core:challenge_list' %}" title="create a new challenge">
					<i class="fa fa-history fa-lg"></i>
					<span>List my challenges</span>
				</a>
			</li>
			<li>
				<a href="{% url 'core:logout' %}" title="create a new challenge">
					<i class="fa fa-power-off fa-lg"></i>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</nav>
{% endif %}
