$grid-max: 960px;
$grid-columns: 12;
$grid-gutter: 10px;
$grid-break: 700px;

$color-primary: #A43668;
$color-secondary: #D60464;
$color-tertiary: #F1928F;
$color-background: #FCFCFC;

$color-highlight: #590230;
$color-text: #6C6C6C;
$color-navigation-text: #ffffff;
$color-stats: $color-primary;
$color-stats-text: #ffffff;
$color-shadow: #000000;
