$grid-gutter: 10px;
$grid-break: 700px;
$grid-max: 1000px;

$color-primary: #A43668;
$color-secondary: #290009;
$color-tertiary: #F1928F;
$color-background: #FFFFFF; //#8C8C8C
$color-highlight: #590230;
$color-text: $color-primary;
$color-navigation-text: #ffffff;
$color-stats: $color-primary;
$color-stats-text: #ffffff;
$color-shadow: #000000;