$grid-max: 960px;
$grid-columns: 12;
$grid-gutter: 10px;
$grid-break: 700px;

$color-primary: #caff00;
$color-secondary: #d60464;
$color-tertiary: #f1928f;
$color-background: #fcfcfc;

$color-light: #fff;
$color-shadow: #000;
$color-loose: #e80c4a;
$color-highlight: #590230;
$color-text: #6c6c6c;
$color-header: #3a3a3a;
$color-navigation-text: $color-light;
$color-stats: $color-primary;
$color-stats-text: $color-light;
