* {
	@include box-sizing(border-box);
}

html
body {
	background-image: url("../img/default/tweed.png");
	background-size: 200px 200px;
	font-family: "Open Sans", sans-serif;

	@include media-retina() {
		background-image: url("../img/retina/tweed.png");
	}
}

.container {
	padding: 38px 0 0 0;
}
