html,
body {
	color: $color-text;
	line-height: 120%;
}

h1,
h2,
h3,
h4 {
	position: relative;
	margin: 0 0 $grid-gutter;
	padding: $grid-gutter;
	text-align: center;

	&:after {
		content: "";
		position: absolute;
		display: block;
		left: 50%;
		bottom: 0;
		margin: 0 0 0 -50px;
		width: 100px;
		height: 3px;
		background: $color-primary;
	}
}

h2 {
	font-size: 1.35em;
}

p,
a {
	color: $color-text;
}

p {
	margin: 0 0 $grid-gutter;
}