.list {
	@extend %content-box;

	li {
		@include pie-clearfix();
		padding: $grid-gutter;
		border-bottom: 1px solid rgba($color-primary, 0.1);
	}

	a {
		display: block;
		text-decoration: none;
	}

	strong {
		display: block;
		margin: 0 0 ($grid-gutter * 0.5);
	}

	em {
		display: block;
		font-size: 0.9em;
	}

	.badge {
		@include border-radius($grid-gutter * 2);
		float: right;
		padding: $grid-gutter * 0.5;
		color: $color-text;
		font-size: 0.75em;
		background: $color-primary;
	}
}