.list {
	@extend %content-box;

	li {
		@include pie-clearfix();
		padding: $grid-gutter;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid rgba($color-text, 0.1);

		&:first-child {
			border-top: 0;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	strong {
		display: block;
		margin: 0 0 ($grid-gutter * 0.5);
	}

	em {
		display: block;
		font-size: 0.9em;
	}

	.badge {
		@include border-radius($grid-gutter * 2);
		float: right;
		padding: ($grid-gutter * 0.5) $grid-gutter;
		color: $color-stats-text;
		font-size: 0.75em;
		background: $color-text;
	}

	.win {
		strong i {
			color: $color-primary;
		}

		.badge {
			color: $color-text;
			background: $color-primary;
		}
	}

	.loose {
		strong i {
			color: $color-loose;
		}

		.badge {
			background: $color-loose;
		}
	}
}