.welcome {
	@include box-shadow(inset 3px 3px 270px #000000);
	margin: 0 0 $grid-gutter;
	padding: $grid-gutter * 3;
	text-align: center;
	border-bottom: 3px solid $color-primary;
	background: url("../img/default/tweed.png");

	h2,
	p {
		color: $color-stats-text;
	}
}
