<div class="challenge-finished">
	<h2>The challenge is over!</h2>
	<p>
		{% if challenge.rival.status == challenge.owner.status %}
			<i class="smiley fa fa-frown-o fa-lg"></i>
			Both challengers select the same status, so now your money will
			be donated to <strong>{{ challenge.charity.name }}</strong>. Thank you very much!
		{% elif attendee.status == 'loose' %}
			<i class="smiley fa fa-frown-o fa-lg"></i>
			You lose this challenge, so now your money will be donated to
			<strong>{{ challenge.charity.name }}</strong>. Thank you very much!
		{% else %}
			<i class="smiley fa fa-smile-o fa-lg"></i>
			You won the challenge, so you get your money back. Congratulations!
		{% endif %}
	</p>

	{% if request.user.is_authenticated %}
		<a href="{% url 'core:challenge_list' %}" class="back">
			<span class="fa fa-chevron-left"></span>
			Back to my challenges
		</a>
	{% endif %}
</div>
